Flask
flask-cors
cx_Oracle
oracledb
python-dotenv
ollama
numpy
scikit-learn
mcp[cli]
chromadb
PyPDF2
pillow
typing-extensions
rich
tabulate
sqlparse
sqlalchemy
pandas
nest_asyncio
langchain
langchain_mcp_adapters
langgraph
langchain_ollama
PyJWT
beautifulsoup4
requests
pywhatkit